.card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Make card take full height */
}

.card-body {
  flex-grow: 1; /* Allows body to expand and fill the space */
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #555;
}

.btn-primary {
  margin-top: auto;
}

.title {
  font-weight: bold;
}

.card-img-top {
  max-width: 100%; /* Ensure the image doesn't overflow */
  height: auto; /* Keep the aspect ratio */
  display: block;
  margin-left: auto;
  margin-right: auto; /* Centers the image horizontally */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}
